<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Ai</title>
</head>
<body>
    <% allColors.forEach((colors) => { %>
        <div class="colorFrame">
                <h2><%=colors.cl%></h2>
                    <ul>
                            <% colors.content.forEach((color) => {
                                %> <li  style="background: <%=color%> ">
                                        <p><%=color%></p></li>
                                
                               <% }); %>
                    </ul>
            </div>
    <% }); %>



</body>
</html>